name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'
      - name: Build with Gradle
        run: ./gradlew reobfJar
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Artifact
          path: build/libs/FeatherMorph*.jar