name: Release

on: [release]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: 1145141919810
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
      - name: Upload artifact
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'target/morph*.jar'
          repo-token: ${{ secrets.GITHUB_TOKEN }}